{% extends "base.html" %}
{% load static %}
{% load bag_tools %}



{% block extra_title %}
   Bag
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container" id="patterns">
    <div class="container mb-2" id="shopping-bag">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <div class="table-responsive rounded" >
                        <table class="table table-sm table-borderless">
                            <thead class="text-black" id="shopping-bag">
                                <tr>
                                    <th scope="col">Pattern-Image</th>
                                    <th scope="col"> Pattern Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col"> Remove </th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thead>

                            {% for item in bag_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                    
                                        <img class="img-fluid rounded" src="{{ item.pattern.image.url }}" alt="{{ item.pattern.name }}">
                                    
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.pattern.name }}</strong></p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.pattern.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                

                                        <!-- Remove button next to update in the same row -->
                                        <a class="remove-item btn btn-danger btn-sm" id="remove_{{ item.item_id }}" data-pattern_size="{{ item.size }}">
                                            Remove
                                        </a>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">${{ item.pattern.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right" id="shopping-bag">
                                    <p>Bag Total: ${{ total|floatformat:2 }}</p>
                                    <p class="mt-4"><strong>Total: ${{ total|floatformat:2 }}</strong></p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'patterns' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Keep Shopping</span>
                                    </a>
                                    <a href="{% url 'checkout' %}"  class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'patterns' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'patterns/includes/quantity_input_script.html' %}
<script>
    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('pattern_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'pattern_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}

