{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container" id="about-content">
    <h1 class="text-center default-page-header" id="about-header">About Us</h1>

    <!-- ABOUT US FEATURES -->
    <div class="container marketing">
        
        <!-- FIRST FEATURE -->
        <div class="row featurette">
            <div class="col-md-7 about-section-container" id="about-crochet">
                <h2 class="about-subheading fw-normal lh-1">Who We Are</h2>
                <p class="lead">
                    Hook It is a crochet website that offers crochet patterns,how-to content, and more to beginner and intermediate crochet enthusiasts.
                    We provide content through accessible and easy-to-follow patterns. we got  the best new crochet patterns, the hottest trends,
                    and the classic patterns you can't get enough of Some of our favorite projects include wearable crochet patterns like hats, scarves and shawls as well as home
                    decor pieces such as granny square and ripple afghans. We especially love short-term projects (like the newborn baby hat and beginner's crochet scarf). Find your next
                    favorite crochet project at HOOK IT!</p>
            </div>
            <div class="col-md-5">
                <img src="/media/crochet-brigitte-scaled.jpg" alt="" class="about-img img-fluid mx-auto">
            </div>
        </div>

        <hr class="about-separator">

        <!-- SECOND FEATURE -->
        <div class="row featurette">
            <div class="col-md-7 order-md-2 about-section-container">
                <h2 class="about-subheading fw-normal lh-1">What Is Crochet</h2>
                <p class="lead">Crochet is a popular craft technique that involves creating fabric from yarn or thread using a hook.
                     The word "crochet" comes from the French term for "small hook," referring to the tool used to create interlocking
                     loops of yarn. Unlike knitting, which uses two needles, crochet is done with a single hook,
                     making it a versatile and relatively easy technique for beginners to pick up.The art of crochet has been
                     around for centuries, with roots tracing back to ancient civilizations. Today, it's a favorite hobby and
                     artistic form for people worldwide, used to create everything from practical items like blankets and 
                     scarves to intricate decorative pieces.
                    
                    </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="/media/crochet-hook.jpg" alt="" class="about-img img-fluid mx-auto">
            </div>
        </div>

        <hr class="about-separator">

        <!-- THIRD FEATURE -->
        <div class="row featurette">
            <div class="col-md-7 about-section-container">
                <h2 class="about-subheading fw-normal lh-1">What we can make with crochet</h2>
                <p class="lead">Crochet is an incredibly versatile craft that allows you to create a wide range of beautiful and
                     functional items. From cozy blankets and stylish scarves to intricate amigurumi toys and decorative home décor,
                     the possibilities are endless. You can make warm hats, mittens, and socks, perfect for colder weather, or elegant
                     tablecloths, pillows, and curtains to add a personal touch to your home. Crochet also lends itself beautifully 
                     to crafting small, thoughtful gifts like keychains, baby toys, and jewelry. Whether you're crafting something 
                     practical or purely decorative, crochet offers endless creative opportunities to express yourself and make unique,
                    handmade treasures.</p>
            </div>
            <div class="col-lg-5">
                <img src="/media/hanjan-crochet.jpg" alt="" class="about-img img-fluid mx-auto" id="about-last-img">
            </div>
        </div>
      
  

    </div>


    {% endblock %}