{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
   400 
{% endblock %}

{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
  
<div class="container" id="error-404">
    <div class="error-box">
        <h1 class="error-title">Bad Request</h1>
        <p class="lead text-muted">Your request couldn't be processed. Please check and try again.</p>
        <a href="{% url 'patterns' %}" class="shop-now-button btn btn-lg text-uppercase mt-3">
            Return to Shop
        </a>
    </div>
</div>
{% endblock %}