{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
   403
{% endblock %}
{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
  
<div class="container" id="error-404">
    <div class="error-box">
        <h1 class="error-title">Forbidden</h1>
        <p class="lead text-muted">You don't have permission to access this page. Please check your credentials or contact support if you believe this is a mistake..</p>
        <a href="{% url 'patterns' %}" class="shop-now-button btn btn-lg text-uppercase mt-3">
            Return to Shop
        </a>
    </div>
</div>
{% endblock %}