{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
  
<div class="container" id="error-404">
    <div class="error-box">
        <h1 class="error-title">Oops! Page Not Found</h1>
        <p class="lead text-muted">The page you are looking for isn't available.</p>
        <a href="{% url 'patterns' %}" class="shop-now-button btn btn-lg text-uppercase mt-3">
            Return to Shop
        </a>
    </div>
</div>
{% endblock %}