{% extends 'base.html' %} 
{% load static %}
{% load crispy_forms_tags %}


{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container" id="contact">
    <h1 class="card-title">Contact Us</h1>
    <div>
     {% if success_message %}
    <div class="alert alert-success">
    {{ success_message }}
    </div>
    {% endif %}
   <form   method="post" class="post contact">
       {% csrf_token %}
       {{ form.as_p }}
   <button id="submit-form" type="submit">Submit</button>
    </form>
    </div>
    </div>

{% endblock content %}