{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container" id="patterns">
        <div class="row">
            <div class="col-12 col-md-6">
                <hr>
                <h2 class="logo-font mb-4">Product Management</h2>
                <h5 class="text-muted">Edit a Pattern</h5>
                <hr>
            </div>
        </div>

        <!-- Display reviews -->
        <div class="row">
            <div class="col-12 col-md-6">
                <h3 class="text-muted mb-3">Reviews</h3>
                
                {% for review in pattern.reviews.all %}
                    <div class="review mb-3">
                        <p><strong>{{ review.user.username }}</strong> (Rating: {{ review.rating }})</p>
                        <p>{{ review.comment }}</p>

                        <!-- Edit button for the logged-in user's review -->
                        {% if review.user == request.user %}
                            <a href="{% url 'edit-review' review_id=review.id %}" class="btn btn-outline-black rounded-0">Edit Review</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'edit_pattern' pattern.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}

                    <div class="text-right">
                        <a class="btn btn-outline-black rounded-0" href="{% url 'patterns' %}">Cancel</a>
                        <button class="btn btn-black rounded-0" type="submit">Update Pattern</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <!-- Include CKEditor scripts -->
    <script src="https://cdn.ckeditor.com/ckeditor5/34.1.0/classic/ckeditor.js"></script>

 
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>

{% endblock %}
