{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container" id="patterns">
        <div class="sort-options mb-3">
            <form method="get">

               <p>Sort By:</p>
                <select name="sort_by" class="form-control" onchange="this.form.submit()">
                    
                    <option value="date_created_asc" {% if sort_by == 'date_created' and direction == 'asc' %}selected{% endif %}>Newest</option>
                    <option value="price_asc" {% if sort_by == 'price' and direction == 'asc' %}selected{% endif %}>Price Low to High</option>
                    <option value="price_desc" {% if sort_by == 'price' and direction == 'desc' %}selected{% endif %}>Price High to Low</option>
                    <option value="name_asc" {% if sort_by == 'name' and direction == 'asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name_desc" {% if sort_by == 'name' and direction == 'desc' %}selected{% endif %}>Name (Z-A)</option>
                </select>
                
            </form>
        </div>
        
            <div id="pattern-heading" class="text-center mb-4">
            <h1>Crochet Patterns</h1>
            {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        </div>

        <div class="row">
            {% for pattern in patterns %}
                <div class="col-sm-4" id="images">
                    <div class="pattern-item text-center">
                        
                        <img src="{{ pattern.image.url }}" alt="{{ pattern.name }}" class="img-fluid mb-3" />
                        
                        <a href="{% url 'pattern-detail' pattern.id %}">
                        <h3>{{ pattern.name }}</h3>
                        </a>
                        
                        
                        <p>Price: {{ currency_symbol }}{{ pattern.price }}</p>

                        

                        {% if pattern.rating %}
                            <small class="text-muted">
                                <i class="fas fa-star mr-1"></i>{{ pattern.rating }} / 5.00
                            </small>
                        {% endif %}
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
        

        
    </div>
{% endblock %}