{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container" id="patterns">
      
       
        <div id="pattern-heading" class="text-center mb-4">
            <h1>Crochet Patterns</h1>
        </div>

        <div class="row">
            {% for pattern in patterns %}
                <div class="col-sm-4" id="images">
                    <div class="pattern-item text-center">
                        
                        <img src="{{ pattern.image.url }}" alt="{{ pattern.name }}" class="img-fluid mb-3" />
                        
                        
                        <h3>{{ pattern.name }}</h3>
                        
                        
                        <p>Price: {{ currency_symbol }}{{ pattern.price }}</p>
                        

                        {% if pattern.rating %}
                            <small class="text-muted">
                                <i class="fas fa-star mr-1"></i>{{ pattern.rating }} / 5
                            </small>
                        {% endif %}
                    </div>
                </div>

                {% if forloop.counter|divisibleby:3 %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
