{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="container" id="patterns">
        <div class="sort-options mb-3">
            <form method="get">
               <label for="'sort_by">Sort By:</label>
               <select name="sort_by" class="form-control" onchange="this.form.submit()">
                <option value="sorting"  {% if not sort_by %}selected{% endif %}>Sort By</option>
                <option value="price_asc" {% if sort_by == 'price_asc' %}selected{% endif %}>Price Low to High</option>
                <option value="price_desc" {% if sort_by == 'price_desc' %}selected{% endif %}>Price High to Low</option>
                <option value="name_asc" {% if sort_by == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                <option value="name_desc" {% if sort_by == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
            </select>
                
            </form>
        </div>
        
            <div id="pattern-heading" class="text-center mb-4">
            <h1>Crochet Patterns</h1>
        </div>

        <div class="row">
            {% for pattern in pattern_list %}
                <div class="col-sm-4 images">
                    <div class="pattern-item text-center">
                        
                        {% if pattern.image %}
                        <a href="{% url 'pattern-detail' pattern.id %}">
                            <img src="{{ pattern.image.url }}" alt="{{ pattern.name }}" class="img-fluid mb-3" />
                        </a>
                    {% else %}
                        <img src="https://hook-it.s3.eu-north-1.amazonaws.com/media/crochet-yarn.webp" alt="{{ pattern.name }}" class="img-fluid mb-3" />
                    {% endif %}
                        
                        
                        <a href="{% url 'pattern-detail' pattern.id %}">
                        <h2>{{ pattern.name }}</h2>
                        </a>
                        
                        
                        <p>Price: {{ currency_symbol }}{{ pattern.price }}</p>

                        

                        {% if pattern.rating %}
                            <small class="text-muted">
                                <i class="fas fa-star mr-1"></i>{{ pattern.rating }} / 5.00
                            </small>
                        {% endif %}
                    </div>
                    {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_pattern' pattern.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_pattern' pattern.id %}">Delete</a>
                    </small>
                {% endif %}
                </div>



                {% if forloop.counter|divisibleby:3 %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        </div>
        
        <!-- Pagination Controls -->
        
        <div class="pagination-controls text-center mt-4">
            {% if pattern_list.has_previous %}
                <a href="?page=1&sort_by={{ sort_by }}" class="btn btn-secondary">First</a>
                <a href="?page={{ pattern_list.previous_page_number }}&sort_by={{ sort_by }}" class="btn btn-secondary">Previous</a>
            {% else %}
                <span class="btn btn-secondary disabled">First</span>
                <span class="btn btn-secondary disabled">Previous</span>
            {% endif %}

            <span class="mx-2">Page {{ pattern_list.number }} of {{ pattern_list.paginator.num_pages }}</span>

            {% if pattern_list.has_next %}
                <a href="?page={{ pattern_list.next_page_number }}&sort_by={{ sort_by }}" class="btn btn-secondary">Next</a>
                <a href="?page={{ pattern_list.paginator.num_pages }}&sort_by={{ sort_by }}" class="btn btn-secondary">Last</a>
            {% else %}
                <span class="btn btn-secondary disabled">Next</span>
                <span class="btn btn-secondary disabled">Last</span>
            {% endif %}
        </div>

        
    </div>
{% endblock %}